
div {
  margin: 5px;
}
 
ul {
  list-style-type: none;
  width: 500px;
  margin: 0 !important;
  padding: 0px;
}
 
h3 {
  font: bold 20px/1.5 Helvetica, Verdana, sans-serif;
  margin: 0; padding: 0;
}
 
li img {
  float: left;
  margin: 0 15px 0 0;

}
 
li p {
  font: 200 12px/1.5 Georgia, Times New Roman, serif;
  margin: 0; padding: 0;
  
}
 
 p{
 width:40%;
	white-space: nowrap;
    overflow: hidden;
	text-overflow: ellipsis;
 }
 
li {
  width:90vw;
  white-space: nowrap;
    overflow: hidden;
  padding: 0;
  overflow: auto;
  margin: 0; padding: 0;
  margin-bottom:5%;
}
 
